.chat__container {
    display: flex;
    flex-direction: column;
    flex: 0.7;
    background-color: #e5ddd5;
}

.chat__header {
    display: flex;
}

.chat__column {
    background: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat;
    flex-grow: 1;
    background-position: center;
    padding: 30px;
    overflow: auto;
}

.chat__input__container {
    background-color: #f0f0f0;
    display: flex;
    padding: 2px 8px;
    align-items: center;
}



.chat__input {
    flex: 1;
}

.chat__input > input {
    flex: 1;
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 20px;
}

.chat__input__right {
    padding-left: 16px;
}

.chat__button {
    display: none;
}